.settingsContainer {
  height: 420px;
  width: 400px;
  right: 10px;
  position: fixed;
  bottom: 30px;
  display: flex;
  flex-direction: column;
  background-color: #f1f0e8;
  align-items: center;
  border-radius: 15px;
  padding: 5px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.controlsContainer {
  border-radius: 15px;
  height: 100%;
  width: 100%;
  padding: 15px;
  font-family: "Oxygen", sans-serif;
}

.controlsContainer h1 {
  font-family: "Ubuntu Condensed", sans-serif;
  padding-bottom: 5px;
  border-bottom: 2px solid black;
  margin-bottom: 5px;
}

.controlsContainer h2 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.time,
.windSpeed {
  display: flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -5px;
}

.time #timeSlider,
.windSpeed #windSlider {
  margin-left: 15px;
  margin-right: 15px;
}

#tortoise,
#hare {
  font-size: 1.5rem;
  margin: 5px;
}

.layers,
.flows {
  display: flex;
  flex-direction: column;
}

.buttonContainer {
  height: 80px;
  width: 390px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#startButton,
#otherButton {
  width: 160px;
  height: 50px;
  margin: 7px;
  border-radius: 10px;
  font-size: 0.7rem;
}

.MuiFormControlLabel-root {
  margin-top: -10px;
  margin-bottom: -10px;
}
